<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola mundo desde una plantilla html, {{username}} </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit adipisci suscipit animi inventore. Error, ad dolor praesentium illo ex aspernatur inventore dicta minima provident, nihil iste distinctio animi modi. Placeat, voluptates repellendus minima fuga excepturi perspiciatis consectetur officia ipsa iusto reiciendis. Quas perferendis expedita possimus aliquam. Optio dicta minus deserunt ab quia quos quod, accusantium obcaecati nihil saepe architecto debitis magni nulla veniam vero labore alias eligendi officia excepturi aliquam reiciendis! Reiciendis dolorem nobis repellendus dolore sit minima, facere inventore doloremque quibusdam doloribus pariatur illo maxime soluta natus consequatur voluptatum quas labore sapiente id dicta eaque. Doloremque, delectus aspernatur?</p>
</body>
</html>